@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Monoska";
  src: url("/fonts/monoska.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


:root {
  /* New Palette */
  --tuscan-red: #A91B18;
  --pale-blue: #CEE7F3;
  --noir-black: #181717;
  --satin-linen: #F8FAED;

  /* Functional Mappings */
  --background: var(--satin-linen);
  --foreground: var(--noir-black);

  --base-100: var(--noir-black);
  /* Main Text */
  --base-200: var(--tuscan-red);
  /* Primary Accent / Loader BG */
  --base-300: var(--pale-blue);
  /* Secondary Accent */
  --base-light: var(--satin-linen);
  /* Light Background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Hide Default Cursor on Desktop */
@media (hover: hover) and (pointer: fine) {

  body,
  a,
  button,
  input,
  textarea,
  .interactive {
    cursor: none;
  }
}